<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Thymeleaf</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
<body>
<div class="container">
    <div layout:fragment="replace_frgment">
        <div class="container">
            <h3 class="text-center display-4 font-weight-bold pt-5 text-success">Companies</h3>
        </div>
        <table>
            <th:block th:each="company : ${companies}">
                <tr>
                    <td th:text="${company.getName()}">...</td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>